@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.snowflake {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: falling linear infinite;
}

@keyframes falling {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
